/**
 * devpost - style.css
 */

BODY {
  padding: 0px;
  margin: 0px;
}

BODY, TH, TD, INPUT, BUTTON {
  font-family: arial, sans-serif;
  font-size: 11pt;
  color: #000000;
}

.title A {
  color: #ffffff;
  text-decoration: none;
}

.title A:hover {
  background-color: #666666;
}

.title {
  margin: 0px;
  padding: 8px;
  font-size: 16pt;
  font-weight: bold;
  color: #ffffff;
  background-color: #000000;
}

.content {
  padding: 8px;	
}

TABLE.mbox {
  border-collapse: collapse;
}

TABLE.mbox, TABLE.mbox TH, TABLE.mbox TD {
  border-style: none;
}

TABLE.mbox TH, TABLE.mbox TD {
  padding: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

TABLE.mbox TH {
  background-color: #cccccc;	
}

TABLE.mbox TR.row0 {
  background-color: #f7f7f7;
}

TABLE.mbox TR.row1 {
  background-color: #f0f0f0;
}

TABLE.mbox TR TD {
  cursor: pointer;
}

.current-row {
  background-color: #ccccff;
}

.button {
  padding: 4px 8px 4px 8px;
  color: #ffffff;
  background-color: #999999;
  border-style: none;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  -webkit-border-radius: 4px; 
     -moz-border-radius: 4px;
          border-radius: 4px;
}

:hover.button {
  background-color: #aaaaaa;
}

:disabled.button {
  color: #cccccc;
  background-color: #aaaaaa;
}

.checkbox,
.checkbox-incomplete,
.checkbox-checked {
  cursor: pointer;
  fill: #ffffff;
  stroke: none;
  margin: 4px;
}

.checkbox .checkbox-sign {
  stroke: none;
  fill: none;
}

.checkbox-incomplete .checkbox-sign {
  stroke: #cccccc;
  stroke-width: 2px;
}

.checkbox-checked .checkbox-sign {
  stroke: #666666;
  stroke-width: 2px;
}

#deleteMsg {
  margin: 4px;
}
